.background{
  background-color: limegreen;
  text-align: center;
  width: 100%;
  min-height: 1000px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container-1{
  display: inline-block;
  padding: 40px;
  margin-top: 90px;
  background-color: white;
  text-align: center;
  width: 40%;
  min-width: 500px;
  box-shadow: 0 0 5px 2px gray;
}
.container-2{
  padding: 10px;
  background-color: white;
  text-align: center;
}
.textbox{
  border: 0;
  background-color: lightgrey;
  height: 40px;
  width: 100%
}
.button{
  height: 60px;
  background-color: green;
  width: 100%;
  border-radius: 0;
}
.p{
  color: lightgrey;
}
.text{
  color: green;
}
